@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
  --breakpoint-footer: 940px;
  --breakpoint-connect: 688px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: ubuntu;
  src: url("/Ubuntu/Ubuntu-Regular.ttf");
}

.hero {
  background: url("../public/images/shizraehero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visionhero {
  background: url("../public/images/visionhero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spiritualhero {
  background: url("../public/images/spiritualhero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero h1,
.hero p,
.visionhero h1,
.visionhero p,
.spiritualhero h1,
.spiritualhero p {
  position: relative;
  z-index: 1;
}

nav {
  z-index: 9;
}

.photos img,
.bucketListgrid div,
.spiritpost div {
  transition: 0.5s;
}

.photos img:hover,
.bucketListgrid div:hover,
.spiritpost div:hover {
  scale: 1.02;
}

.bucketListgrid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #c5c3c3;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .bucketListgrid {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .bucketListgrid div {
    width: 100%;
  }
}
